<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
   <link rel="icon" type="image/x-icon" href="./assets/images/favicon/fav.png">
   <link rel="stylesheet" href="./css/style.css">

   <title>Huong Chu</title>
</head>


<body>
   <header class="header">
      <div class="header-top">
         <div class="container">
            <div class="header-top-inner">
               <a href="" class="header-top-link">+41 76 370 66 66</a>
               <a href="" class="header-top-link">info@hc-beautyacademy.com</a>
               <div class="socials">
                  <a href=""><i class="brand-icon fab fa-facebook-f"></i></a>
                  <a href=""><i class="brand-icon fab fa-instagram"></i></a>
                  <a href=""><i class="brand-icon fab fa-pinterest-p"></i></a>
               </div>
            </div>
         </div>
      </div>

      <div class="header-bottom">
         <div class="container">
            <div class="header-bottom-inner">
               <div class="header-logo">
                  <a href="" class="logo-link"><img src="./assets/images/logo.png" alt=""></a>
               </div>
               <nav class="header-menu menu">
                  <div class="menu-inner">
                     <div class="menu-logo">
                        <a href="" class="logo-link"><img src="./assets/images/logo.png" alt=""></a>
                     </div>
                     <ul class="menu-list" id="main-menu">
                        <li class="menu-item current-page"><a href="#">Home</a></li>
                        <li class="menu-item"><a href="#">About us</a></li>
                        <li class="menu-item">
                           <a href="#">Course<i class="far fa-angle-down"></i></a>
                           <ul class="sub-menu">
                              <li class="menu-item">
                                 <a href="#">Eyebrow powder course<i class="far fa-angle-down"></i></a>
                                 <ul class="sub-menu">
                                    <li class="menu-item"><a href="#">Eyebrow powder course</a></li>
                                    <li class="menu-item"><a href="#">Eyebrow powder course</a></li>
                                    <li class="menu-item"><a href="#">Eyebrow powder course</a></li>
                                 </ul>
                              </li>
                              <li class="menu-item">
                                 <a href="#">Eyebrow powder course<i class="far fa-angle-down"></i></a>
                                 <ul class="sub-menu">
                                    <li class="menu-item"><a href="#">Eyebrow powder course</a></li>
                                    <li class="menu-item"><a href="#">Eyebrow powder course</a></li>
                                    <li class="menu-item"><a href="#">Eyebrow powder course</a></li>
                                 </ul>
                              </li>
                              <li class="menu-item">
                                 <a href="#">Eyebrow powder course<i class="far fa-angle-down"></i></a>
                                 <ul class="sub-menu">
                                    <li class="menu-item"><a href="#">Eyebrow powder course</a></li>
                                    <li class="menu-item"><a href="#">Eyebrow powder course</a></li>
                                    <li class="menu-item"><a href="#">Eyebrow powder course</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li class="menu-item"><a href="#">My course</a></li>
                        <li class="menu-item">
                           <a href="#">Blog<i class="far fa-angle-down"></i></a>
                           <ul class="sub-menu">
                              <li class="menu-item">
                                 <a href="#">Eyebrow powder course</a>
                              </li>
                              <li class="menu-item">
                                 <a href="#">Eyebrow powder course</a>
                              </li>
                              <li class="menu-item">
                                 <a href="#">Eyebrow powder course</a>
                              </li>
                           </ul>
                        </li>
                        <li class="menu-item"><a href="#">Contact</a></li>
                     </ul>
                     <div class="menu-user user">
                        <a href="#" class="user-default">Sign in</a>
                        <a href="#" class="user-login">
                           <span class="user-avatar"><img src="./assets/images/avatar-1.jpg" alt=""></span>
                           <span class="user-name">Nguyễn Thị Thảo</span>
                           <i class="far fa-angle-down"></i>

                           <div class="user-more">
                              <ul class="user-list">
                                 <li class="user-item">
                                    <img src="./assets/images/svg/user-icon.svg" alt="" class="user-icon">
                                    Personal information
                                 </li>
                                 <li class="user-item">
                                    <img src="./assets/images/svg/cart-icon.svg" alt="" class="user-icon">
                                    Cart
                                 </li>
                                 <li class="user-item">
                                    <img src="./assets/images/svg/order-icon.svg" alt="" class="user-icon">
                                    Order
                                 </li>
                                 <li class="user-item">
                                    <img src="./assets/images/svg/course-icon.svg" alt="" class="user-icon">
                                    My course
                                 </li>
                              </ul>
                           </div>
                        </a>
                     </div>
                     <div class="menu-footer">
                        <p class="brand-address">
                           Huong Chu Beauty Academy c/o White Lotus Beauty GmbH Schwamendingenstrasse 18 CH-8050 Zürich
                        </p>
                        <i class="brand-icon fab fa-facebook-f"></i>
                        <i class="brand-icon fab fa-instagram"></i>
                        <i class="brand-icon fab fa-pinterest-p"></i>
                     </div>
                     <div class="burger x" data-trigger-mobile="hidden">
                        <div class="burger-inner">
                           <div class="burger-line"></div>
                           <div class="burger-line"></div>
                           <div class="burger-line"></div>
                        </div>
                     </div>
                  </div>
                  <div class="menu-overlay" data-trigger-mobile="hidden"></div>
               </nav>

               <div class="header-action">
                  <div class="burger" data-trigger-mobile="show">
                     <div class="burger-inner">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </header>

   <main class="main home-page">
      <section class="banner swiper">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <div class="banner-slide">
                  <img src="./assets/images/home-banner.jpg" alt="" class="banner-bg">
                  <div class="banner-text">
                     <div class="container">
                        <h1 class="title wow animate__fadeInDown">Beauty & Academy</h1>
                        <p class="para wow animate__slideInRight">Lorem Ipsum is simply dummy text of the printing and
                           typesetting industry. as
                           been the industry's standard dummy text ever since the 1500s, when anunknown printer.</p>
                        <a href="" class="btn wow animate__flipInY">REGISTER NOW</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="about">
         <div class="arrow">
            <i class="fal fa-chevron-down"></i>
         </div>
         <div class="container">
            <div class="about-inner d-flex pd-bot-120">
               <div class="right d-item">
                  <img src="./assets/images/about-1.jpg" class="pic-cir p-1 wow animate__fadeInTopRight" alt="">
                  <img src="./assets/images/about-grid.png" class="grid-pic gp-1 wow animate__fadeInDown" alt="">
                  <img src="./assets/images/about-grid.png" class="grid-pic gp-2 wow animate__fadeInUp" alt="">
                  <img src="./assets/images/about-2.jpg" class="pic-cir p-2 wow animate__fadeInBottomRight" alt="">
                  <img src="./assets/images/about-3.jpg" class="pic-cir p-3 wow animate__fadeInBottomLeft" alt="">
               </div>
               <div class="left d-item">
                  <h2 class="title wow animate__fadeInDown">About us</h2>
                  <p class="para wow animate__slideInRight">
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                     has been the industry's standard dummy text ever since the 1500s, when an unknown
                     printer took a galley of type and scrambled it to make a type specimen book. It has
                     survived not only five centuries, but also the leap into electronic typesetting
                  </p>
                  <a href="" class="btn wow animate__flipInY">SEE MORE</a>
               </div>
            </div>
         </div>
      </section>

      <section class="course">
         <div class="arrow">
            <i class="fal fa-chevron-down"></i>
         </div>
         <img src="./assets/images/bg-flower.png" alt="" class="flower-img">
         <div class="container">
            <div class="course-inner pd-bot-120">
               <h1 class="title wow animate__fadeInDown">Our courses</h1>
               <ul class="course-list d-flex">
                  <li class="course-item d-item">
                     <a href="" class="course-img wow animate__bounceIn">
                        <img src="./assets/images/my-courses-1.jpg" alt="">
                     </a>
                     <div class="course-infor">
                        <h3 class="name wow animate__heartBeat">Eyebrow powder course 1</h3>
                        <p class="para wow animate__slideInRight">Powder
                           brows are suitable for all women who want beautiful
                           and expressive eyebrows without daily make-up. This technique creates a very
                           light and beautiful shadow, as if you had powdered your eyebrows...</p>
                        <a href="" class="btn course-btn wow animate__flipInY">SEE MORE</a>
                     </div>
                  </li>
                  <li class="course-item d-item">
                     <a href="" class="course-img wow animate__bounceIn">
                        <img src="./assets/images/my-courses-1.jpg" alt="">
                     </a>
                     <div class="course-infor">
                        <h3 class="name wow animate__heartBeat">Eyebrow powder course 1</h3>
                        <p class="para wow animate__slideInRight">Powder
                           brows are suitable for all women who want beautiful
                           and expressive eyebrows without daily make-up. This technique creates a very
                           light and beautiful shadow, as if you had powdered your eyebrows...</p>
                        <a href="" class="btn course-btn wow animate__flipInY">SEE MORE</a>
                     </div>
                  </li>
                  <li class="course-item d-item">
                     <a href="" class="course-img wow animate__bounceIn">
                        <img src="./assets/images/my-courses-1.jpg" alt="">
                     </a>
                     <div class="course-infor">
                        <h3 class="name wow animate__heartBeat">Eyebrow powder course 1</h3>
                        <p class="para wow animate__slideInRight">Powder
                           brows are suitable for all women who want beautiful
                           and expressive eyebrows without daily make-up. This technique creates a very
                           light and beautiful shadow, as if you had powdered your eyebrows...</p>
                        <a href="" class="btn course-btn wow animate__flipInY">SEE MORE</a>
                     </div>
                  </li>
                  <li class="course-item d-item">
                     <a href="" class="course-img wow animate__bounceIn">
                        <img src="./assets/images/my-courses-1.jpg" alt="">
                     </a>
                     <div class="course-infor">
                        <h3 class="name wow animate__heartBeat">Eyebrow powder course 1</h3>
                        <p class="para wow animate__slideInRight">Powder
                           brows are suitable for all women who want beautiful
                           and expressive eyebrows without daily make-up. This technique creates a very
                           light and beautiful shadow, as if you had powdered your eyebrows...</p>
                        <a href="" class="btn course-btn wow animate__flipInY">SEE MORE</a>
                     </div>
                  </li>
               </ul>
               <a href="" class="btn wow animate__flipInY">SEE ALL</a>
            </div>
      </section>

      <section class="skill">
         <div class="arrow">
            <i class="fal fa-chevron-down"></i>
         </div>
         <img src="./assets/images/bg-flower.png" alt="" class="flower-img">
         <div class="container">
            <div class="skill-inner pd-bot-120">
               <h1 class="title wow animate__fadeInDown">Skills after the course</h1>
               <ul class="d-flex">
                  <li class="d-item skill-item">
                     <a class="skill-img wow animate__flash">
                        <img src="./assets/images/skl-icon.svg" alt="">
                     </a>
                     <p class="para wow animate__slideInRight">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s. </p>
                  </li>
                  <li class="d-item skill-item">
                     <a class="skill-img wow animate__flash">
                        <img src="./assets/images/skl-icon.svg" alt="">
                     </a>
                     <p class="para wow animate__slideInUp">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s. </p>
                  </li>
                  <li class="d-item skill-item">
                     <a class="skill-img wow animate__flash">
                        <img src="./assets/images/skl-icon.svg" alt="">
                     </a>
                     <p class="para wow animate__slideInLeft">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s. </p>
                  </li>
               </ul>
            </div>
         </div>
         </div>
      </section>

      <section class="student">
         <div class="arrow">
            <i class="fal fa-chevron-down"></i>
         </div>
         <div class="container">
            <div class="student-inner">
               <h1 class="title wow animate__fadeInDown">What Our Students Say</h1>
               <div class="swiper">
                  <ul class="swiper-wrapper">
                     <li class="swiper-slide">
                        <div class="student-wrapper">
                           <a class="student-img wow animate__flipInX">
                              <img src="./assets/images/stu-av.jpg" alt="">
                           </a>
                           <p class="para wow animate__slideInRight">“ Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. “</p>
                           <span class="name wow animate__zoomInDown">Anna Parker</span>
                        </div>
                     </li>
                     <li class="swiper-slide">
                        <div class="student-wrapper">
                           <a class="student-img wow animate__flipInX">
                              <img src="./assets/images/stu-av.jpg" alt="">
                           </a>
                           <p class="para wow animate__slideInRight">“ Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. “</p>
                           <span class="name wow animate__zoomInDown">Anna Parker</span>
                        </div>
                     </li>
                     <li class="swiper-slide">
                        <div class="student-wrapper">
                           <a class="student-img wow animate__flipInX">
                              <img src="./assets/images/stu-av.jpg" alt="">
                           </a>
                           <p class="para wow animate__slideInRight">“ Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. “</p>
                           <span class="name wow animate__zoomInDown">Anna Parker</span>
                        </div>
                     </li>
                     <li class="swiper-slide">
                        <div class="student-wrapper">
                           <a class="student-img wow animate__flipInX">
                              <img src="./assets/images/stu-av.jpg" alt="">
                           </a>
                           <p class="para wow animate__slideInRight">“ Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry.
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. “</p>
                           <span class="name wow animate__zoomInDown">Anna Parker</span>
                        </div>
                     </li>
                     <li class="swiper-slide">
                        <div class="student-wrapper">
                           <a class="student-img wow animate__flipInX">
                              <img src="./assets/images/stu-av.jpg" alt="">
                           </a>
                           <p class="para wow animate__slideInRight">Powder brows are suitable for all women who want
                              beautiful
                              and expressive eyebrows without daily make-up. This technique creates a very
                              light and beautiful shadow, as if you had powdered your eyebrows...</p>
                           <span class="name wow animate__zoomInDown">Anna Parker</span>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="ctrl-button wow animate__zoomIn">
               <div class="ctrl-btn ctrl-next swiper-button-next">
                  <i class="fal fa-chevron-right"></i>
               </div>
               <div class="ctrl-pagination swiper-pagination"></div>
               <div class="ctrl-btn ctrl-prev swiper-button-prev">
                  <i class="fal fa-chevron-left"></i>
               </div>
            </div>
         </div>
         </div>
      </section>

      <section class="request">
         <img src="./assets/images/bg-flower.png" alt="" class="flower-img">
         <div class="container">
            <div class="request-inner pd-80">
               <h1 class="title wow animate__fadeInDown">Send request now</h1>
               <form class="form" id="request-form">
                  <div class="form-group text wow animate__slideInLeft">
                     <input autocomplete="off" data-form="name" class="form-input" type="text"
                        placeholder="Enter your name" id="name">
                     <label class="form-label" for="name"></label>
                     <span class="form-msg">form msg</span>
                  </div>

                  <div class="form-group text wow animate__slideInLeft">
                     <input autocomplete="off" data-form="email" class="form-input" type="text"
                        placeholder="Enter your email" id="mail">
                     <label class="form-label" for="mail"></label>
                     <span class="form-msg">form msg</span>
                  </div>

                  <div class="form-group text wow animate__slideInLeft">
                     <input autocomplete="off" data-form="num" class="form-input" type="text"
                        placeholder="Enter your phome number" id="phone">
                     <label class="form-label" for="phone"></label>
                     <span class="form-msg">form msg</span>
                  </div>

                  <div class="form-group checkbox wow animate__slideInLeft">
                     <input autocomplete="off" data-form="checkbox" class="form-input" type="checkbox" id="checkbox">
                     <span class="form-mask"></span>
                     <label class="form-label" for="checkbox">I agree that my data is being collected and
                        stored</label>
                  </div>

                  <button>
                     <a href="" class="btn wow animate__flipInY">SEND REQUEST NOW</a>
                  </button>
               </form>
            </div>
         </div>
      </section>
   </main>

   <footer class="footer sec">
      <div class="container">
         <div class="footer-inner pd-80">
            <div class="logo">
               <img src="./assets/images/logo.png" alt="">
            </div>
            <div class="infor d-flex">
               <div class="address d-item wow animate__slideInUp">
                  <div class="para">
                     HuongChu Beauty Academy c/o White Lotus Beauty GmbH Schwamendingenstrasse 18CH-8050 Zürich</div>
                  <div class="socials">
                     <a href=""><i class="brand-icon fab fa-facebook-f"></i></a>
                     <a href=""><i class="brand-icon fab fa-instagram"></i></a>
                     <a href=""><i class="brand-icon fab fa-pinterest-p"></i></a>
                  </div>
               </div>
               <div class="box contact d-item wow animate__slideInUp">
                  <h3 class="title wow animate__fadeInDown">Contact</h3>
                  <ul class="d-flex">
                     <li class="d-item"><a href="">+41 76 370 66 66</a></li>
                     <li class="d-item"><a href="">+41 76 306 99 99</a></li>
                     <li class="d-item"><a href="">hc-beautyacademy.com</a></li>
                     <li class="d-item"><a href="">info@hc-beautyacademy.com</a></li>
                  </ul>
               </div>
               <div class="box quick d-item wow animate__slideInUp">
                  <h3 class="title wow animate__fadeInDown">Quick links</h3>
                  <ul class="d-flex">
                     <li class="d-item"><a href="">Home</a></li>
                     <li class="d-item"><a href="">About us</a></li>
                     <li class="d-item"><a href="">Courses</a></li>
                     <li class="d-item"><a href="">My courses</a></li>
                     <li class="d-item"><a href="">Blog</a></li>
                     <li class="d-item"><a href="">Contact</a></li>
                     <li class="d-item"><a href="">Sign in</a></li>
                  </ul>
               </div>
               <form action="" class="form d-item wow animate__slideInUp" id="footer-form">
                  <h3 class="title wow animate__fadeInDown">Get more information from HuongChu</h3>
                  <div class="form-group text">
                     <input autocomplete="off" class="form-input" type="text" data-form="email"
                        placeholder="Enter your email:" id="phone">
                     <label class="form-label" for="phone"></label>
                     <span class="form-msg">form msg</span>
                     <button class="form-icon form-submit">
                        <img src="./assets/images/footer-icon-send.svg" alt="">
                     </button>
                  </div>
               </form>
            </div>
            <div class="botBar">Designed and Developed by Mona Media</div>
         </div>
      </div>
   </footer>

   <div class="modal notify">
      <div class="modal-overlay" data-hidden-modals></div>
      <div class="modal-content notify-content">
         <i class="fas"></i>
         <span class="notify-detail"></span>
      </div>
   </div>
   <div class="back-to-top backToTop">
      <div class="triangle"></div>
      <div class="triangle"></div>
      <div class="triangle"></div>
   </div>
   <script src="./js/library/jquery/jquery.js"></script>
   <script src="./js/library/swiper/swiper-bundle.min.js"></script>
   <script src="./js/library/slick/slick.min.js"></script>
   <script src="./js/library/wow/wow.min.js"></script>
   <script src="./js/library/aos/aos.js"></script>
   <script src="./js/library/select2/select2.min.js"></script>
   <script src="./js/library/vanilla/vanilla.js"></script>
   <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
   <script src="./js/library/gallery/lightgallery-all.min.js"></script>
   <script src="./js/library/countup/jquery.counterup.min.js"></script>
   <script src="./js/library/countup/jquery.waypoints.min.js"></script>
   <script src="./js/library/jquery/jquery-migrate.js"></script>
   <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
   <script src="./js/library/range/rangeslider.min.js"></script>
   <script src="./js/main.js" type="module"></script>

   <script>
      wow = new WOW({
          boxClass: 'wow',
          animateClass: 'animate__animated',
          offset: 0,
          mobile: false,
          live: true,
      });
      wow.init();
  </script>
</body>

</html>