.banner {
    height: calc(730/1920 * 100vw);

    .title::after {
        content: none !important;
    }

    &-slide {
        position: absolute;
        inset: 0;
    }

    &-bg {
        @include imgCover;
    }

    &-text {
        position: absolute;
        width: 100%;
        top: 18rem;
    }

    .title {
        color: $color-pri;
        font-family: 'Open Sans' !important;
        @include fz-64;
        font-weight: 700;
    }

    .para {
        max-width: 58rem;
        color: #000;
        margin: 3rem 0 7rem 0;
    }

    @include max(1400px) {
        &-text {
            top: 12rem;
        }
    }

    @include max(1200px) {
        height: calc(968/1920 * 100vw);

        &-text {
            top: 18rem;
        }
    }

    @include max(968px) {
        height: calc(1200/1920 * 100vw);
    }

    @include max(767px) {
        &-text {
            top: 12rem;
        }

        .para {
            margin: 2rem 0 5rem 0;
            max-width: 48rem;
        }
    }

    @include max(580px) {
        height: calc(1400/1920 * 100vw);

        .para {
            font-size: 1.4rem;
            margin: 1rem 0 3rem 0;
        }
    }

    @include max(450px) {
        height: calc(1800/1920 * 100vw);

    }
}