.btn{
    @include flex;
    align-items: center;
    background-color: $color-black;
    padding: 12px 15px;
    border: 1px solid $color-black;
    width: fit-content;
    &.bd-none{
        border: none !important;
    }
    &.bd-white{
        border: 1px solid white !important;
    }
    &.trans{
        background-color: transparent !important;
    }
    .text{
        font-size: 1.2rem;
        color: $color-white;
        font-weight: 600;
        letter-spacing: 1px;
        transition: 0.3s ease-in-out;
        white-space: nowrap;
        &.white{
            color: white !important;
        }
    }
    .hori{
        width: 25px;
        height: 1px;
        background-color: white;
        margin-left: 10px;
        transition: 0.3s ease-in-out;
    }
    &.kem{
        background-color: #E7E2D8;
        border: 1px solid transparent;
    }
    &.kem .text{
        color: $color-black;
    }
    &.kem:hover{
        border: 1px solid $color-black;
    }
    &.gray{
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid transparent;
    }
    &.gray .text{
        color: $color-black;
    }
    &.gray .hori{
        background-color: $color-black;
    }
    &.gray:hover{
        border: 1px solid $color-black;
    }
    
    &.white{
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: $color-white;
    }
    &.white .text{
        color: $color-black;
    }
    &.whiteall{
        border: 1px solid rgba(255, 255, 255, 0.5);   
    }
    &.whiteall .text{
        color: $color-white;
        
    }
    .icon-left{
        margin-right: 10px;
        @include mid-flex;
        .icon{
            position: relative;
            top: -1px;
            transition: 0.3s ease-in-out;
        }
    }
    .icon-right{
        margin-left: 10px;
        @include mid-flex;
        .icon{
            position: relative;
            color: $color-black;
            transition: 0.3s ease-in-out;
        }
        .icon-arrow{
            color: $color-black;
            transition: 0.3s ease-in-out;
        }
    }
    &:hover .text{
        color: $color-black;
    }
    &:hover .icon{
        filter: brightness(0) invert(0);
    }
    &:hover .icon-arrow{
        color: #B89D85;
    }
    &:hover .hori{
        background-color: $color-black;
    }

}
.btn-animated {
    z-index: 1;
    position: relative;
    cursor: pointer;
    &.white:hover .text{
        color: $color-white;
    }
    &.white:hover .icon-left .icon{
        filter: brightness(0) invert(1);
    }

    &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        direction: rtl;
        z-index: -1;
        background: $color-white;
        transition: all 0.3s ease;
    }
    &.white::after{
        background-color: $color-black;
    }

    &:hover:after {
        left: auto;
        right: 0;
        width: 100%;
    }

}
.btn-animated-normal{
    &:hover .text{
        color: #B89D85;
    }
    &:hover .icon{
        color: #B89D85;
    }
}
.group-contact-btn{
    @include flex;
    align-items: center;
}

.btn-link{
    display: block;
    padding-right: 20px;
    width: fit-content;
    cursor: pointer;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #D7D0CA;
        transition: 0.5s ease-in-out;
    }
    &:hover::before{
        width: 30%;
    }
    &:hover .text{
        color: #B89D85;
    }
    .text{
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 1px;
        color: $color-black;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s ease-in-out;
    }
}