.burger {
  display: none;
  cursor: pointer;

  @include max (1160px) {
    display: unset;
  }

  &-inner {
    width: 3rem;
    @include mid-flex();
    justify-content: end;
    flex-wrap: wrap;
    cursor: pointer;
  }

  &-line {
    width: 30px;
    height: 4px;
    background: $color-second;
    opacity: 0.9;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }

  &-line:nth-child(2) {
    margin: 2px 0;
  }

  &:hover {
    .burger-line:nth-child(1) {
      width: 80%;
    }

    .burger-line:nth-child(2) {
      width: 60%;
    }
  }
}