.form {
    width: 500px;

    &-input {
        width: 100%;
        max-height: 4rem;
        padding: 1rem;
        @include fz-14;
        outline: none;
        background: #FFF;
        border-radius: 10px;
        border: 1px solid transparent;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.3s;

        &::placeholder {
            color: rgba(0, 0, 0, 0.3);
            @include fz-14;
        }

        &:focus {
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    &-msg {
        text-indent: 1rem;
        padding: 0.5rem 0;
        display: inline-block;
        transition: all 0.3s;
        opacity: 0;
        visibility: hidden;
        font-size: 1.2rem;
        line-height: 1.2rem;

        @keyframes animation {
            0% {
                text-indent: 1rem;
            }

            25% {
                text-indent: 1.3rem;
            }

            50% {
                text-indent: 1rem;
            }

            75% {
                text-indent: 0.7rem;
            }

            100% {
                text-indent: 1rem;
            }
        }

        &.active {
            opacity: 1;
            visibility: visible;
            animation: animation 0.5s linear;
        }
    }

    &-label {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
    }

    &-submit {
        margin-top: 2rem;
    }

    &-group {
        position: relative;
        
        @media screen and (max-width: 520px) {
            width: 70%;
        }
    }

    &-icon {
        position: absolute;
        top: 6px;
        right: 10px;
        transform: translateY(-100%);
        margin-top: 0;
        background: transparent;

        &:hover {
            transition: all 0.3s;
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(20%) sepia(74%) saturate(1204%) hue-rotate(177deg) brightness(97%) contrast(94%);
        }
    }

    &-group.checkbox {
        .form-input {
            display: none;

            &:checked~.form-mask {
                background-color: #DAA761;
            }

            &:checked~.form-label {
                color: rgba(0, 0, 0, 0.9);
            }
        }

        .form-mask {
            width: 1.4rem;
            height: 1.4rem;
            display: inline-block;
            border: 1px solid #C4C4C4;
            border-radius: 5px;
            transition: all 0.3s;
        }


    }

    &-group.correct {

        .form-input {
            border: 1px solid #229954;
        }

        .form-msg,
        .form-label {
            color: #229954;
        }

        .form-mask {
            background-color: #229954;
        }
    }

    &-group.incorrect {

        .form-input {
            border: 1px solid #CB4335;
        }

        .form-msg,
        .form-label {
            color: #CB4335;
        }

        .form-mask {
            background-color: #CB4335;
        }
    }
}