.form {
    max-width: 500px;

    &-input {
        width: 100%;
        max-height: 4rem;
        padding: 1rem;
        @include fz-14;
        outline: none;
        background: #FFF;
        border-radius: 10px;
        border: 1px solid transparent;
        color: rgba(0, 0, 0, 0.5);
        transition: all 0.3s;
        margin-bottom: 2rem;

        &::placeholder {
            color: rgba(0, 0, 0, 0.3);
            @include fz-14;
        }

        &:focus {
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    &-msg {
        text-indent: 1rem;
        display: inline-block;
        transition: all 0.3s;
        opacity: 0;
        visibility: hidden;
        font-size: 1.2rem;
        line-height: 1.2rem;

        position: absolute;
        right: 10px;
        top: 0;
        transform: translateY(-50%);
        background-color: #fff;
        padding: 4px 2rem;
        border-radius: 20px;
        border: 1px solid;

        &.active {
            opacity: 1;
            visibility: visible;
            -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse ;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse ;
        }
    }

    &-label {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
    }

    &-submit {
        margin-top: 2rem;
    }

    &-group {
        position: relative;
    }

    &-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-80%);
        margin-top: 0;
        background: transparent;

        &:hover {
            transition: all 0.3s;
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(20%) sepia(74%) saturate(1204%) hue-rotate(177deg) brightness(97%) contrast(94%);
        }
    }

    &-group.checkbox {
        .form-input {
            display: none;

            &:checked~.form-mask {
                background-color: $color-pri;
            }

            &:checked~.form-label {
                color: rgba(0, 0, 0, 0.9);
            }
        }

        .form-mask {
            width: 1.4rem;
            height: 1.4rem;
            display: inline-block;
            border: 1px solid #C4C4C4;
            border-radius: 5px;
            transition: all 0.3s;
        }
    }

    &-group.correct {

        .form-input {
            border: 1px solid $color-correct;
        }

        .form-msg {
            color: $color-correct;
        }
    }

    &-group.incorrect {

        .form-input {
            border: 1px solid $color-incorrect;
        }

        .form-msg,
        .form-label {
            color: $color-incorrect;
        }
    }
}
