.header {
    &-top {
        background-color: $color-second;
        transition: all 0.3s;

        &-inner {
            @include flex;
            justify-content: flex-end;
            padding: 1rem 0;
        }

        &-link {
            @include fz-14;
            color: #fff;
            padding-left: 10px;

            &:nth-child(2) {
                position: relative;
                padding-left: 0.5rem;
                margin-left: 0.5rem;
    
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    height: 11px;
                    width: 1px;
                    background-color: #fff;
                }
            }

            &:hover {
                cursor: pointer;
                transition: 0.3s;
                color: #DAA761;
                text-decoration: underline;
            }
        }


        @include max(520px) {
            &-inner {
                justify-content: space-between;
            }

            &-link {
                @include fz-12;
            }
        }
    }

    &-bottom {
        &-inner {
            @include mid-flex;
            justify-content: space-between;
        }
    }
}