.header {
    z-index: 11;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    &-top {
        background-color: $color-second;
        transition: all 0.3s;

        &-inner {
            @include flex;
            justify-content: flex-end;
            padding: 1rem 0;
        }

        &-link {
            color: #fff;
            padding-left: 10px;

            &:nth-child(2) {
                position: relative;
                margin-left: 1rem;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 12px;
                    width: 1px;
                    background-color: #fff;
                }
            }
        }

        .socials {
            @include socials;
        }

        @include max(520px) {
            &-inner {
                justify-content: space-between;
            }

            &-link {
                @include fz-12;
            }
        }

        @include max(400px) {
            &-inner {
                flex-wrap: wrap;
                padding: 0.5rem 0;
            }

            &-link:nth-child(1) {
                width: 50%;
            }

            &-link:nth-child(2) {
                width: 60%;
                margin-left: 0;

                &::after {
                    content: none;
                }
            }

            .socials {
                text-align: end;
            }

        }
    }

    &-bottom {
        transition: all 0.3s;
        background-color: rgba(#fff, 0.6);

        &-inner {
            @include mid-flex;
            justify-content: space-between;
        }
    }

    &-logo {
        width: 120px;
    }

    &-menu {
        margin-right: 2.5rem;
    }

    &-action {
        display: none;

        @include max(1200px) {
            display: block;
        }
    }
}