.mobile {
    transform: translateX(100%);

    &.active {
        transform: translateX(0);
    }

    &-logo {
        width: 100%;
    }

    &-user {
        margin-right: 5rem;
        
        a {
            margin-bottom: 0;
        }
    }

    &-menu {
        width: 500px;

        @media only screen and (max-width: 682px) {
            width: 100%;
        }

        @media screen and (max-width: 1160px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 2rem;
        width: 100%;
    }

    &-body {
        height: 600px;
        overflow-y: scroll;
        width: 100%;
        padding: 0 1rem 0 5rem;
    }

    &-foot {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        padding: 30px 20px;

        &-link {
            color: black;
            transition: 0.3s;
            padding: 10px 12px;
            border-radius: 12px;

            &:hover {
                text-decoration: underline;
                color: #d5ab56;
            }
        }

        &-socials {
            margin-left: 20px;

            .mobile-foot-link {
                border-radius: 100%;
            }
        }

        &-infor {
            .mobile-foot-link {
                margin: 0;
                padding: 10px 6px;
            }
        }
    }
}