.nav {
    background: rgba(255, 255, 255, 0.6);

    &-main {
        margin-left: 12%;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        width: 120px;
        margin: auto 0;

        img {
            width: 100%;
        }
    }

    &-list {
        display: flex;
    }

    &-item {
        cursor: pointer;
        padding: 25px;

        &:hover {
            &>.nav-link {
                color: #DAA761;

                &>.nav-arrow {
                    transform: translateY(-50%) rotate(-90deg);
                }
            }
        }
    }

    &-link {
        font-size: 1.8rem;
        color: #000;
        position: relative;
        transition: all 0.3s;
    }

    &-arrow {
        display: none;
        position: absolute;
        top: 50%;
        right: -1.6rem;
        font-size: 1.2rem;
        transform: translateY(-50%) rotate(0deg);
        transition: all 0.5s;
    }

    &-user {
        &>.nav-link {
            margin-bottom: 0;
        }
    }

    .current-page {
        &>.nav-link {
            &>.nav-title {
                color: #daa761;
                font-weight: 600;
            }
        }
    }

    .sub-list-1 {
        display: none;
        @include sub-list();
    }

    .sub-item-1 {
        @include sub-item();
    }

    .active-sub-1 {
        position: relative;


        &>.nav-link {
            &>.nav-arrow {
                display: block;
            }
        }

        .sub-list-1 {
            display: block;

            .sub-item-1:hover {
                &>.nav-link {
                    &>.nav-title {
                        color: #fff;
                    }
                }
            }
        }

        &:hover {

            .sub-list-1 {
                transform: translateX(40px);
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .sub-list-2 {
        display: none;
        @include sub-list();
        left: 100%;
        top: 0;
        transform: translateX(-10px);
    }

    .sub-item-2 {
        @include sub-item();
    }

    .active-sub-2 {
        position: relative;

        &>.nav-link {
            &>.nav-arrow {
                display: block;
            }
        }

        .sub-list-2 {
            display: block
        }

        &:hover {
            &>.nav-link {

                &>.nav-title,
                &>.nav-arrow {
                    color: #fff;
                }
            }

            .sub-list-2 {
                transform: translateX(0px);
                visibility: visible;
                opacity: 1;

                .sub-item-2:hover {
                    .nav-title {
                        color: #fff;
                    }
                }
            }
        }
    }



    @media screen and (max-width: 1160px) {

        position: relative;

        .burger {
            order: 3;
        }

        &-logo {
            order: 1;
        }

        &-user {
            order: 2;
            width: 80%;
            padding-right: 10px;
            text-align: end;
        }

        &-main {
            display: none;
        }

        &-list {
            flex-direction: column;
            height: 60vh;
            padding-right: 20px;
        }

        &-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }

        &-link {
            margin-bottom: 10px;
        }

        .active-sub-1:hover {
            .sub-list-1 {
                visibility: hidden;
                opacity: 0;
            }
        }

        .active-sub-2:hover {
            .sub-list-2 {
                visibility: hidden;
                opacity: 0;
            }
        }

        .sub-item-1:hover,
        .sub-item-2:hover {
            // background-color: unset;
        }

        .sub-list-1,
        .sub-list-2 {
            width: 100%;
            height: 0;
            position: unset;
            transform: translateX(20px);
        }

        .sub-item-1.active,
        .sub-item-2.active {
            background-color: unset;
        }

        .sub-item-1,
        .sub-item-2 {
            width: 100%;
            border-bottom: none;
        }

        .active-sub-1.active {

            &>.nav-link {

                .nav-title,
                .nav-arrow {
                    color: #DAA761;
                }

                .nav-arrow {
                    transform: translateY(-50%) rotate(-90deg);
                }
            }


            .sub-list-1 {
                height: unset;
                transform: translateX(20px);
                visibility: visible;
                opacity: 1;
            }

        }

        .active-sub-2.active {

            &>.nav-link {

                .nav-title,
                .nav-arrow {
                    color: #DAA761;
                }

                .nav-arrow {
                    transform: translateY(-50%) rotate(-90deg);
                }
            }

            .sub-list-2 {
                height: unset;
                transform: translateX(20px);
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @media screen and (max-width: 420px) {
        &-user {
            display: none;
        }
    }
}