.user {
    &-default {
        display: none;
    }

    &-login {
        @include mid-flex();
        position: relative;

        i {
            font-size: 1.6rem;
            color: #E44646;
            font-weight: 700;
        }

        &:hover {
            .user-more {
                transform: translateY(0) scale(1);
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &-avatar {
        @include cir(3.2rem);
        overflow: hidden;
    }

    &-name {
        margin: 0 1rem;
        @include fz-14;
        font-weight: 700;
        color: $color-second;
    }

    &-more {
        position: absolute;
        top: calc(100% + 0.5rem);
        z-index: 10;
        background-color: #fff;
        box-shadow: $boxShadow;
        min-width: 200px;

        transform: translateY(20px) scale(0.98);
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;

        &::after {
            position: absolute;
            content: "";
            height: 3px;
            top: -3px;
            width: 100%;
            background-color: transparent;
        }
    }

    &-item {
        @include mid-flex-ctn;
        padding: 1rem;
        color: #000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);


        &:hover {
            transition: all 0.3s;
            background-color: $color-pri;
            color: #fff;

            .user-icon {
                opacity: 0.4;
            }
        }
    }

    &-icon {
        margin-right: 1rem;
        opacity: 0.2;
    }

}