// remove import font-famyly 
@import url("../assets/fonts/OpenSans/stylesheets.css");
@import url("../assets/fonts/Playfair/stylesheets.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

button,
select {
  border: none;
  outline: none;
}

.main {
  min-height: 68vh;
  margin-top: 4.3rem;

  &.pd {
    padding-top: 112px;
    padding-bottom: 80px;
  }

  @include max(400px) {
    margin-top: 5.5rem;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.re-width {
  width: 770px;
  margin: 0 auto;

  @include max(770px) {
    width: 100%;
  }
}

.over {
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sticky {
  position: sticky;
  top: 0px;
}

.pd-80 {
  padding: 8rem 0;

  @include max(1080px) {
    padding: 5rem 0;
  }

  @include max(767px) {
    padding: 3rem 0;
  }
}

.pd-bot-120 {
  padding-bottom: 12rem;

  @include max(1080px) {}

  @include max(767px) {}
}

.pd-bot-220 {
  padding-bottom: 22rem;

  @include max(500px) {
    padding-bottom: 18rem;
  }
}

.mb-neg {
  margin-bottom: -15rem;
}


.arrow {
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-pri;
  @include cir(8rem);
  z-index: 3;
  @include mid-flex;

  &::after {
    content: "";
    position: absolute;
    @include cir(70%);
    background-color: rgba(251, 246, 239, 0.3);
    box-shadow: none;
    z-index: 1;
  }

  i {
    font-size: 2rem;
    font-weight: 500;
    color: $color-pri;
    z-index: 2;
  }

  &:hover {
    cursor: pointer;

    &::after {
      transition: 0.5s;
      box-shadow: 0 0 20px 3px rgba(#000, 0.2);
      background-color: rgba(251, 246, 239, 0.6);
    }
  }

  @include max(767px) {
    @include cir(6rem);
  }
}

.no-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

iframe {
  vertical-align: middle;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.effectShine {
  position: relative;
  overflow: hidden;
}

.effectShine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.wow {
  animation-duration: 1s;
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*
  *Swiper pagination custome
*/

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #000;
  opacity: 0.8;
  background-color: transparent;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  color: $color-pri;
  opacity: 1;
}