.mb-48{
    margin-bottom: 48px;
}
.mb-40{
    margin-bottom: 40px !important;
}
.mb-40s{
    &:not(:last-child){
        margin-bottom: 40px;
    }
}
.mb-24{
    margin-bottom: 24px;
}
.mb-24s{
    &:not(:last-child){
        margin-bottom: 24px;
    }
}
.mb-16{
    margin-bottom: 16px; 
}
.mb-16s{
    &:not(:last-child){
        margin-bottom: 16px;
    }
}
.mb-32{
    margin-bottom: 32px; 
}
.mb-32s{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mb-30{
    margin-bottom: 30px; 
}
.mb-30s{
    &:not(:last-child){
        margin-bottom: 30px;
    }
}
.mb-0{
    margin-bottom: 0 !important;
}
.m-mid{
    margin: 0 auto;
}
.m-0{
    margin: 0 !important;
}
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
 }
.ss-pd{
    padding: 100px 0;
    @include max(768px){
        padding: 50px 0;
    }
}
.ss-pd-t{
    padding-top: 80px;
    @include max(768px){
        padding-top: 40px;
    }
}
.ss-pd-b{
    padding-bottom: 100px;
    @include max(768px){
        padding-bottom: 50px;
    }
}