.d {
  &-flex {
    @include flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -15px;
    @include max(500px) {
      &-res {
        margin: 0 -5px;
      }
    }
  }
  &-flex-reverse {
    @include flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0 -15px;
  }
  &-item {
    padding: 0 15px;
   }
   
} 
.flex{
  @include flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.flex-mid{
  @include flex;
  align-items: center;
}
 
 
      