$color-pri: #DAA761;
$color-second: #0B4A78;

$color-black: #000;
$color-white: #fff;

$color-tomato: #D80027;
// $color-blue:#0052B4;
$boxShadow: 0 0 10px 0px rgba(0, 0, 0, 0.18);
$border-radius-img: 20px;
$color-correct: #229954;
$color-incorrect: #CB4335;

$icon-fb: "\f39e";
$icon-insta: "\f16d";
$icon-pint: "\f231";